:host {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction:column;
  align-items: stretch;
}
p-toast {
  flex:0;
}
.container {
  flex-grow:1;
  align-self: stretch;
  display:flex;
  flex-direction:column;
  align-items: stretch;
  padding: 10px;
}
.kop {
  flex:0;
  text-align: center;
}
.kop h1 {
  margin-bottom: 5px;
}
.mainPanel {
  flex-grow:1;
  display:flex;
  flex-direction:column;
  align-items: stretch;
  background-color: transparent;
}
.footer {
  flex:0;
  background-color: transparent;
}
