.container {
  display:flex;
  flex-direction:column;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.kop {
  height:80px;
  text-align: center;
  flex-grow:0;
}
.mainPanel {
  flex-grow:1;
  align-items: stretch;
  background-color: transparent;
}
.footer {
  background-color: transparent;
  flex-grow:0;
}
