/* You can add global styles to this file, and also import other style files */
body {
  background: #ccffff;
  margin: 0px;
}

.p-tabview {
  width: 100%;
  height: calc(100% - 20px);
}
.p-tabview .p-tabview-nav {
  background: transparent;
  border: 0 none;
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-panels {
  width: 100%;
  height: 95%;
}
.p-tabview .p-tabview-panel {
  width: 100%;
  height: 100%;
}

.p-tabmenu {
  width: 100%;
  height: 60px;
}
.p-tabmenu .p-tabmenu-nav {
  background: transparent;
  border: 0 none;
  border-width: 0 0 2px 0;
}

app-retro-session {
  height: 100%;
}

app-planning-session {
  height: 100%;
}
