.message-panel {
  background-color: blue;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message-panel span {
  margin: 15px 5px 15px 5px;
  color: white;
}

.message-panel textarea {
  margin: 5px 5px 5px 5px;
  color: white;
  border: none;
  width: 98%;
  background-color: transparent;
}
.message-panel textarea:focus {
  outline: none;
}
.blur-text {
  filter: blur(4px)
}