<label for="username">User Id:</label>
<input id="planning_username" name="username" type="text" [(ngModel)]="sessionInfo.username"/> <br>
<div class="select-session">
    <ul>
        <li>
            <p-radioButton name="sessieType" value="new" [(ngModel)]="selectedRadioButton" inputId="new"></p-radioButton>
            <label for="new">Create new Session</label>
        </li>
        <li>
            <p-radioButton name="sessieType" value="existing" [(ngModel)]="selectedRadioButton" inputId="existing"></p-radioButton>
            <label for="existing">Join existing session with id: </label>
            <input id="planning_session_id" name="sessionId" type="text" [(ngModel)]="sessionInfo.sessionId" [disabled]="disableSessionIdChange"/>
        </li>
    </ul>
    <button id="Start" (click)="openSession()">Start</button>
</div>

